PORT=3000

MONGODB_URI=mongodb://localhost:27017

MONGODB_DB=matcha

APP_NAME=matcha-api

NODE_ENV=development
CLIENT_URL=http://localhost:8081

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=matcha.api.gpe@gmail.com
SMTP_PASS=qkxygqpyldvnsmax

API_URL=http://localhost:3000

FRONTEND_URL=http://localhost:8081

JWT_SECRET=etna

INITIAL_ADMIN_EMAIL=admin@matcha.local
INITIAL_ADMIN_PASSWORD=ChangeMe123!
INITIAL_ADMIN_FIRST_NAME=Admin
INITIAL_ADMIN_LAST_NAME=Matcha
INITIAL_ADMIN_FORCE_PASSWORD_RESET=false

CLOUDINARY_URL=cloudinary://474262834888493:vpTPsqt7iyL0IMdQSxA173npfoU@dlazzkbrs
CLOUDINARY_CLOUD_NAME=dlazzkbrs
CLOUDINARY_API_KEY=474262834888493
CLOUDINARY_API_SECRET=vpTPsqt7iyL0IMdQSxA173npfoU
