PORT=3000
MONGODB_URI=BW_MONGODB_URI
MONGODB_DB=matcha
APP_NAME=matcha-api
NODE_ENV=development
CLIENT_URL=http://localhost:8081

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=matcha.api.gpe@gmail.com
SMTP_PASS=BW_SMTP_PASS

API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:8081

JWT_SECRET=BW_JWT_SECRET

INITIAL_ADMIN_EMAIL=admin@matcha.local
INITIAL_ADMIN_PASSWORD=BW_INITIAL_ADMIN_PASSWORD
INITIAL_ADMIN_FIRST_NAME=Admin
INITIAL_ADMIN_LAST_NAME=Matcha
INITIAL_ADMIN_FORCE_PASSWORD_RESET=false

CLOUDINARY_URL=BW_CLOUDINARY_URL
CLOUDINARY_CLOUD_NAME=dlazzkbrs
CLOUDINARY_API_KEY=BW_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=BW_CLOUDINARY_API_SECRET
